<div id="me">
    <p>
        <img src="/images/Headshot-Square.jpg" alt="Mikhail Shilkov" />
        I'm <b>Mikhail Shilkov</b>, a software developer. I enjoy C#, Javascript and SQL development and I blog about my experience on this website.
    </p>
    <p>
        <a href="http://twitter.com/kiwo22">@kiwo22</a> &#8226;
        <a href="https://github.com/kiwo">GitHub</a> &#8226;
        <a href="https://www.linkedin.com/in/mikhailshilkov/">LinkedIn</a> &#8226;
        <a href="http://stackoverflow.com/users/1171619/mikhail">Stack Overflow</a>
    </p>
</div>
